<h2>Songs</h2>

<div *ngIf="loaded">
  <button (click)="sync()" [disabled]="busy">Sync Songs From Playlists</button>
  <p-table [value]="songs" [paginator]="true" [rows]="25" sortField="name" [sortOrder]="1">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name">Name <p-sortIcon field="name" /></th>
        <th pSortableColumn="artist">Artist <p-sortIcon field="artist" /></th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-song>
      <tr>
        <td>{{ song.name }}</td>
        <td>{{ song.artist }}</td>
        <td>
          <p *ngFor="let tag of song.tags">{{tag}}</p>
        </td>
        <td class="actions">
          <a title="edit" routerLink="/song/edit/{{song.id}}" [class.disabled]="busy"><i class="pi pi-pencil"></i></a>
          <a title="remove" [class.disabled]="busy"><i class="pi pi-trash"></i></a>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No songs have been added.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
